body {
	background: #ffffff;
	text-align: left;
	font: normal 95% Arial, Lucida Grande, Verdana, Helvetica, Arial, Sans-serif;
	line-height:  1.75em;
	color: #000000;
}
a {
	color: #007fff;
}
a:hover {
	text-decoration: none;
}

div#container {
	width: 960px;
	border-top: 15px solid #beebff;
}
div#content {
	padding: 0 0 0 100px;
}

div#about {
	background: transparent url(../img/borders/border.jpg) repeat-x 0% 100%;
	text-align: center;
}
/* Masthead */
div#masthead {
	margin: 30px 0;
}
div#masthead li {
	float: left;
	display: block;
	margin: 0 15px 0 0;
	vertical-align: middle;
}
div#masthead li img.avatar {
	vertical-align: middle;
	background: #f4f4f4;
	padding: 2px;
	width: 46px;
	height: 46px;
}
div#masthead li span.note {
	color: #999;
	font-size: 0.7em;
}
div#masthead li a {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

/* Content */
div#two-column {
	margin: 30px 0 0 0;
	color: #333333;
}
div#two-column div#left-column {
	width: 574px;
	margin: 0 30px 0 0;
	float: left;
}
div#two-column div#right-column {
	width: 256px;
	float: left;
}

/* How to */
div#how-to ol {
  	font-size: 1.4em;
  	line-height: 1.3em;
  	list-style-type: decimal;
  	background-color: #FFF;
  	padding: 0 40px 2em 3em;
}
div#how-to li {
  	margin: 0 0 1.2em 0;
  	font-weight: bold;
}
div#how-to a {
  	font-weight: bold;
}
div#how-to strong {
  	font-style: italic;
	font-weight: normal;
}
div#how-to .note {
  	color: #999;
  	font-size: 0.8em;
  	font-weight: normal;
  	display: block;
  	margin: 0.4em 0 0 1em;
  	line-height: 1.3em;
}

/* Commands */
div#commands {
	border-top: 1px solid #eeeeee;
	padding: 30px 0 0 0;
}
div#commands h2 {
  	font-size: 1.25em;
	padding-top: 1em;
	font-weight: bold;
	color: #007fff;
}
div#commands ul {
	margin-top: 1em;
}
div#commands li {
  	padding: 0.7em 0;
  	border-top: 1px solid #f4f4f4;
}
div#commands span.note {
  	color: #84815b;
  	font-style: italic;
  	font-size: 0.9em;
  	font-weight: normal;
  	display: block;
}

/* Ticker */
ul#ticker li {
	margin: 0 0 15px 0;
	color: #000000;
}
ul#ticker li div.reminder {
	background: #fffab1;
	padding: 5px 10px;
	font-size: 0.9em;
	font-weight: bold;
}
ul#ticker li div.reminder-meta {
	font-size: 0.65em;
	padding: 0 0 0 30px;
	background: transparent url(../img/misc/speech-left.png) no-repeat 10px 0px;
}
ul#ticker li div.reminder-meta img.avatar {
	width: 16px;
	height: 16px;
	vertical-align: middle;
	padding: 2px;
	background: #f4f4f4;
}
ul#ticker li.odd div.reminder-meta {
	text-align: right;
	background: transparent url(../img/misc/speech-right.png) no-repeat 175px 0px;
	padding: 0 30px 0 0;
}

/* Web interface */
div#reminders ul {
	margin-top: 1em;
}
div#reminders li {
  	padding: 0 0 0.7em 0;
  	margin: 0 0 0.7em 0;
  	border-bottom: 1px solid #f4f4f4;
  	clear: both;
}
div#reminders li a.remove {
	background: transparent url(../img/buttons/remove.gif) no-repeat 0px 0px;
	width: 14px;
	height: 14px;
	display: block;
	float: left;
	margin: 0.5em 1em 0 0;
}
div#reminders li a.remove:hover {
	background: transparent url(../img/buttons/remove.gif) no-repeat -14px 0px;
}
div#reminders li div.reminder-data {
	float: left;
	width: 400px;
}
div#reminders li div.reminder-meta {
  	color: #999;
  	float: right;
}

div#reminder-web-form {
	background: transparent url(../img/misc/speech-left.png) no-repeat 10px 0px;
	padding: 5px 0 0 30px;	
}
div#reminder-web-form input.large-input {
	width: 150px;
}
div.speech {
	background: #fffab1;
	padding: 10px;
	font-size: 0.9em;
}

/* Forms */
input.large-input {
	padding: 5px;
	font-size: 0.9em;
	font-weight: bold;
}

/* Footer */
div#footer {
	margin: 30px 0;
	font-size: 0.7em;
	color: #999;
}
div#footer a {
	color: #000000;
}


/* Positioning */
.left {
	float: left;
}
.right {
	float:  right;
}

/* Clearing */
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}